<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="NGordat.Net.OVHKimsufiAvailabilityChecker.Presentation.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7" />
    </startup>
    <userSettings>
        <NGordat.Net.OVHKimsufiAvailabilityChecker.Presentation.Properties.Settings>
            <setting name="KimsufiPageUrl" serializeAs="String">
                <value>http://www.kimsufi.com/fr/serveurs.xml</value>
            </setting>
            <setting name="CheckAvailibilityEverySeconds" serializeAs="String">
                <value>30</value>
            </setting>
            <setting name="EnableAlerts" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Email" serializeAs="String">
                <value>ngordat@access-it.fr</value>
            </setting>
            <setting name="SMTPIp" serializeAs="String">
                <value>smtp.office365.com</value>
            </setting>
            <setting name="SMTPPort" serializeAs="String">
                <value>587</value>
            </setting>
            <setting name="SMTPUsername" serializeAs="String">
                <value>ngordat@access-it.fr</value>
            </setting>
            <setting name="SMTPPassword" serializeAs="String">
                <value>PASSWORD</value>
            </setting>
            <setting name="EnableEmailAlerts" serializeAs="String">
                <value>False</value>
            </setting>
        </NGordat.Net.OVHKimsufiAvailabilityChecker.Presentation.Properties.Settings>
    </userSettings>
</configuration>